@font-face {
    font-family: AbhayaLibre;
    src: url(fonts/AbhayaLibre-Regular-webfont.woff);
    font-weight: 100;
}

@font-face {
    font-family: AbhayaLibre;
    src: url(fonts/AbhayaLibre-SemiBold-webfont.woff);
    font-weight: 300;
}

@font-face {
    font-family: National;
    src: url(fonts/National-Book.otf);
    font-weight: 300;
}

@font-face {
    font-family: National;
    src: url(fonts/National-Semibold.otf);
    font-weight: 600;
}

body {
    font-size: 18px;
    font-family: AbhayaLibre, Garamond, Georgia, sans-serif;
}

p a,
p a:visited {
    color: #000;
    text-decoration: none;
    font-weight: 200;
    border-bottom: 1px solid rgba(0,0,0,0.2);
    transition: border-color 0.6s;
}

p a:hover,
p a:active {
    border-color: rgba(0,0,0,0.7);
    color: #000;
}

h1 {
    font-size: 48px;
    font-family: National;
    font-weight: 600;
    letter-spacing: -0.03em;
}

b.subtitle {
    color: #c82502;
    font-family: National;
    font-weight: 300;
}

h2 {
    font-size: 36px;
    font-weight: 600;
    margin: 1em 0 0.5em 0;
    font-family: National;
}

h3 {
    font-size: 16px;
    margin-bottom: 0.2em;
    font-weight: 300;
    margin-top: 2em;
}

h4 {
    font-size: 14px;
    font-weight: 300;
    margin: 2em 0 0.5em 0;
    color: #999;
}

p, li {
    margin-top: 0;
    line-height: 1.4;
    font-weight: 100;
}

.intro {
    font-size: 22px;
    font-weight: 100;
    line-height: 1.2em;
    margin-top: 1em;
    margin-bottom: 1.5em;
    clear: left;
}

.feature {
    height: 400px;
    background: url(/images/elycecole.jpg) 50% 50%;
    background-size: cover;
}

.half {
    position: relative;
    left: 0;
    border-top: 3px solid #c82502;
    box-shadow: inset 0 40px 0 0 rgba(0,0,0,0.1);
    padding-top: 40px;
}

.contents {
    padding: 20px;
}

.small {
    font-size: 12px;
}

footer {
    padding: 20px 0 40px 0;
}

footer a img {
    width: 30px;
    height: 30px;
    opacity: 0.7;
    margin-right: 10px;
    transition: opacity 1s, border-color 1s;
    border: 1px solid rgba(0,0,0,0.2);
    border-radius: 100px;
    padding: 5px;
}

footer a:hover img {
    opacity: 1;
    border-color: #333;
}

.features img {
    width: 90px;
    height: 90px;
    margin-right: 5px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    border: 4px solid #fff;
}

/* For devices larger than 550px */
@media (min-width: 880px) {
    body {
        font-size: 18px;
    }
    
    h1 {
        font-size: 64px;
        margin-top: 40px;
        margin-left: -2px;
    }
    
    .intro {
        font-size: 24px;
        padding-top: 1em;
        line-height: 1.4;
    }
    
    .half {
        margin-left: 50%;
        box-shadow:
            -20px 0 30px rgba(0,0,0,0.06),
            inset 0 40px 0 0 rgba(0,0,0,0.1),
            ;
        padding: 40px;
        border-top: 3px solid #c82502;
    }
    
    .feature {
        position: fixed;
        top: 0;
        left: 0;
        width: 50%;
        height: 100%;
    }
    
    h3 {
        font-size: 18px;
        letter-spacing: -0.03em;
    }

    nav {
        padding-top: 80px;     
    }

    nav a.link,
    nav span {
        padding: 5px 10px 0 10px;
    }

    .contents {
        padding: 40px;
        max-width: 600px;
    }
    
    .languages {
        top: 10px;
        right: 10px;
        border: none;
        background: none;
    }
    
    .features img {
        width: 150px;
        height: 150px;
        margin: 20px 20px 0 0;
    }
    
    footer {
        position: absolute;
        top: 40px;
        right: 40px;
    }
}